/* Button */
/* button component */
.btn {
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--gray-800);
  color: var(--gray-50);
  /* margin: 1em; */
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--gray-700);
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.btn-outline {
  background: inherit;
  color: var(--gray-800);
  border: solid 1px currentColor;
}
.btn-outline:hover {
  /* color: var(--gray-50); */
  background-color: var(--gray-200);
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.btn-text {
  margin-left: 0.375em;
}

/* button rounded */
.btn-rounded {
  border-radius: 9999px;
}

/* button floating */
.btn-float {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  color: var(--gray-50);
  background-color: var(--gray-800);
  transition: 0.3s;
}
.btn-float:hover {
  background-color: var(--gray-700);
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.btn-float-outline {
  background: inherit;
  color: var(--gray-800);
  border: solid 1px currentColor;
}
.btn-float-outline:hover {
  color: var(--gray-50);
  background-color: var(--gray-700);
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

/* predefined colorful buttons */
/* Red */
/* Green */
/* yellow */
/* Blue */

/* red */
.btn-red {
  background-color: var(--red-500);
}
.btn-red:hover {
  background-color: var(--red-600);
}

/* green */
.btn-green {
  background-color: var(--green-500);
}
.btn-green:hover {
  background-color: var(--green-600);
}

/* yellow */
.btn-yellow {
  background-color: var(--yellow-500);
}
.btn-yellow:hover {
  background-color: var(--yellow-600);
}

/* blue */
.btn-blue {
  background-color: var(--blue-500);
}
.btn-blue:hover {
  background-color: var(--blue-600);
}

/* custom buttons */
.btn-purple {
  background-color: var(--purple-700);
}
.btn-purple:hover {
  background-color: var(--purple-500);
}

.btn-outline-purple {
  color: var(--purple-700);
}
.btn-outline-purple:hover {
  background-color: var(--purple-200);
}

/* btn-outline predefined colors */
.btn-outline-red {
  color: var(--red-500);
}
.btn-outline-red:hover {
  background-color: var(--red-50);
}
.btn-outline-green {
  color: var(--green-500);
}
.btn-outline-green:hover {
  background-color: var(--green-50);
}
.btn-outline-blue {
  color: var(--blue-500);
}
.btn-outline-blue:hover {
  background-color: var(--blue-50);
}
.btn-outline-yellow {
  color: var(--yellow-500);
}
.btn-outline-yellow:hover {
  background-color: var(--yellow-50);
}

.btn-float-outline-purple {
  color: var(--purple-700);
}
.btn-float-outline-purple:hover {
  background-color: var(--purple-200);
  color: var(--purple-700);
}

.svg-icon {
  width: 1rem;
  height: auto;

  /* border: solid 1px currentColor; */
}

.icon-button-content {
  display: flex;
}

/* btn light-gray */
.btn-gray:hover {
  background-color: var(--gray-300);
  box-shadow: none;
}
