.home-page {
  width: 83.333333%;
}

.home-page__hero {
  width: 300px;
  max-width: 500px;
}

.home-page__code-container {
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
}

.home-page__footer-social {
  width: 60%;
}

@media Screen and (max-width: 600px) {
  .home-page {
    width: 100%;
  }

  .home-page__code-container {
    width: 95%;
    text-align: justify;
  }

  .home-page__footer-social {
    width: 100%;
  }
}
