.github-icon a {
  align-self: center;
  color: var(--gray-400);
}
.github-icon a:hover {
  color: var(--gray-700);
}

.header__link {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-right: 1rem;
  cursor: pointer;
}
.header__link:hover {
  color: var(--gray-700);
}

.header-container {
  box-shadow: 0px 1px 4px 0px rgba(156, 163, 175, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.header-content {
  width: 83.333333%;
}

/* hamburger menu */
.hamburger {
  display: none;
  align-self: start;
  font-size: 2rem;
  color: var(--gray-400);
  margin-left: 1rem;
}
.hamburger:hover {
  cursor: pointer;
}

.sidebar-menu {
  position: fixed;
  height: 100vh;
  width: 75%;
  top: 0px;
  right: 0px;
  opacity: 1;
  background-color: var(--white);
}

.header-sidebar-menu {
  position: fixed;
  height: 100vh;
  width: 75%;
  top: 0px;
  right: 0px;
  opacity: 1;
  background-color: var(--white);
}

.sidebar__links {
  list-style: none;
  color: gray;
  height: 95vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

.sidebar__links li {
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
}
.sidebar__links a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--gray-700);
}

.hamburger--close {
  font-size: 2rem;
  margin-top: 0rem;
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: inline;
  }
  .header-content {
    width: 95%;
  }
  .github-icon,
  .version {
    display: none;
  }
}
